[Unit]
Description=zipstore storage service

[Service]
ExecStart=/usr/bin/node /opt/zipstore/index.js
# Required on some systems
#WorkingDirectory=/opt/zipstore
Restart=always
 # Restart service after 10 seconds if node service crashes
 RestartSec=10
 # Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=zipstore
#User=<alternate user>
#Group=<alternate group>
Environment=NODE_ENV=production FILEROOT=/var/lib/zipstore/.data PORT=8080 HOSTNAME=localhost

[Install]
WantedBy=multi-user.target
